body {
  background-color: rgb(0, 255, 0);
}

h1 {
  color: rgb(0, 0, 0);
}

.p1 {
  color: rgb(0, 0, 255);
}

.p2 {
  color: rgb(255, 0, 0);
}

li:nth-child(1) {
  color: rgb(0, 0, 0);
  font-weight: bold;       
}

li:nth-child(2) {
  color: rgba(255, 0, 0, 0.957);
  font-weight: bold;        
}

li:nth-child(3) {
  color: rgb(0, 0, 255);
  font-weight: bold;        
}

li:nth-child(4) {
  color: rgb(0, 0, 0);
  font-weight: bold;      
}

li:nth-child(5) {
  color: rgb(255, 95, 95);
  font-weight: bold;      
}

li:nth-child(6) {
  color: rgb(0, 0, 0);
  font-weight: bold;    
}