body {
  background-color: rgb(0, 255, 0);
}

h1 {
  color: rgb(0, 0, 0);
}

.p1 {
  color: rgb(0, 0, 255);
}

.p2 {
  color: rgb(255, 0, 0);
}

li:nth-child(1) {
  color: rgb(0, 0, 0);
  font-weight: bold;       
}

li:nth-child(2) {
  color: rgba(255, 0, 0, 0.957);
  font-weight: bold;        
}

li:nth-child(3) {
  color: rgb(0, 0, 255);
  font-weight: bold;        
}

li:nth-child(4) {
  color: rgb(0, 0, 0);
  font-weight: bold;      
}

li:nth-child(5) {
  color: rgb(255, 95, 95);
  font-weight: bold;      
}

li:nth-child(6) {
  color: rgb(0, 0, 0);
  font-weight: bold;    
}


.history{
background-color: rgb(0, 0, 0);
color: white;
border: 2px solid black;
margin: 20px;
padding: 20px;
}






.container {
  display: grid;
  grid-template-columns:1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  background-color: dodgerblue;f
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

