body {
  background-color: rgb(0, 255, 0);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0,0,0); 
  font-size: 36px;
  font-weight: 600;
  font-weight:bold;
}

.p1 {
  color: rgb(0, 0, 255);
}

.p2 {
  color: rgb(255, 0, 0);
}

li:nth-child(1) {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

li:nth-child(2) {
  color: rgba(255, 0, 0, 0.957);
  font-weight: bold;
}

li:nth-child(3) {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

li:nth-child(4) {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

li:nth-child(5) {
  color: rgb(255, 95, 95);
  font-weight: bold;
}

li:nth-child(6) {
  color: rgb(0, 0, 0);
  font-weight: bold;
}


.history{
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


.button {
  background-color: #28a745;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

.horizontal {
  border: none;
  height: 8px;
  background-color: #28a745;
  border-radius: 50px;
  width: 100%;
  margin: 20px auto;
}
